<h2 class="heroTitle">Последни обяви</h2>

<section id="articleSection">
    <ul class="articles">
        <li>
            <article class="article">
                <div class="articleImageWrapper">
                    <a href="">
                        <img class="articleImg"
                            src="https://images.unsplash.com/photo-1670948516733-0220701ea0de?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=686&q=80"
                            alt="">
                    </a>
                </div>
                <h3 class="articleTitle">Product Title</h3>
                <span class="articleItem">Sneakers</span>
                <p class="articleDescription">Location: Благоевград</p>
                <p class="articleDescription">Price: 50 лв</p>
            </article>
        </li>
        <li>
            <article class="article">
                <div class="articleImageWrapper">
                    <a href="">
                        <img class="articleImg"
                            src="https://images.unsplash.com/photo-1670948516733-0220701ea0de?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=686&q=80"
                            alt="">
                    </a>
                </div>
                <h3 class="articleTitle">Product Title</h3>
                <span class="articleItem">Sneakers</span>
                <p class="articleDescription">Location: Благоевград</p>
                <p class="articleDescription">Price: 50 лв</p>
            </article>
        </li>
        <li>
            <article class="article">
                <div class="articleImageWrapper">
                    <a href="">
                        <img class="articleImg"
                            src="https://images.unsplash.com/photo-1670948516733-0220701ea0de?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=686&q=80"
                            alt="">
                    </a>
                </div>
                <h3 class="articleTitle">Product Title</h3>
                <span class="articleItem">Sneakers</span>
                <p class="articleDescription">Location: Благоевград</p>
                <p class="articleDescription">Price: 50 лв</p>
            </article>
        </li>
        <li>
            <article class="article">
                <div class="articleImageWrapper">
                    <a href="">
                        <img class="articleImg"
                            src="https://images.unsplash.com/photo-1670948516733-0220701ea0de?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=686&q=80"
                            alt="">
                    </a>
                </div>
                <h3 class="articleTitle">Product Title</h3>
                <span class="articleItem">Sneakers</span>
                <p class="articleDescription">Location: Благоевград</p>
                <p class="articleDescription">Price: 50 лв</p>
            </article>
        </li>
        <li>
            <article class="article">
                <div class="articleImageWrapper">
                    <a href="">
                        <img class="articleImg"
                            src="https://images.unsplash.com/photo-1670948516733-0220701ea0de?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=686&q=80"
                            alt="">
                    </a>
                </div>
                <h3 class="articleTitle">Product Title</h3>
                <span class="articleItem">Sneakers</span>
                <p class="articleDescription">Location: Благоевград</p>
                <p class="articleDescription">Price: 50 лв</p>
            </article>
        </li>
        <li>
            <article class="article">
                <div class="articleImageWrapper">
                    <a href="">
                        <img class="articleImg"
                            src="https://images.unsplash.com/photo-1670948516733-0220701ea0de?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=686&q=80"
                            alt="">
                    </a>
                </div>
                <h3 class="articleTitle">Product Title</h3>
                <span class="articleItem">Sneakers</span>
                <p class="articleDescription">Location: Благоевград</p>
                <p class="articleDescription">Price: 50 лв</p>
            </article>
        </li>
        <li>
            <article class="article">
                <div class="articleImageWrapper">
                    <a href="">
                        <img class="articleImg"
                            src="https://images.unsplash.com/photo-1670948516733-0220701ea0de?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=686&q=80"
                            alt="">
                    </a>
                </div>
                <h3 class="articleTitle">Product Title</h3>
                <span class="articleItem">Sneakers</span>
                <p class="articleDescription">Location: Благоевград</p>
                <p class="articleDescription">Price: 50 лв</p>
            </article>
        </li>
        <li>
            <article class="article">
                <div class="articleImageWrapper">
                    <a href="">
                        <img class="articleImg"
                            src="https://images.unsplash.com/photo-1670620197238-d4eb8ba7a8c4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=737&q=80"
                            alt="">
                    </a>
                </div>
                <h3 class="articleTitle">Product Title</h3>
                <span class="articleItem">Sneakers</span>
                <p class="articleDescription">Location: Благоевград</p>
                <p class="articleDescription">Price: 50 лв</p>
            </article>
        </li>
    </ul>
</section>

<!-- <section id="articleSection">
    <ul class="articles">
        <li>
            <article class="article">
                <div class="articleImageWrapper">
                    <a href="">
                        <img class="articleImg"
                            src="https://images.unsplash.com/photo-1670948516733-0220701ea0de?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=686&q=80"
                            alt="">
                    </a>
                </div>
                <h3 class="articleTitle">Product Title</h3>
                <span class="articleItem">Sneakers</span>
                <p class="articleDescription">Location: Благоевград</p>
                <p class="articleDescription">Price: 50 лв</p>
            </article>
        </li>
    </ul>
</section> -->


<!-- theme component  -->
<!-- <div class="theme-container">
            <div class="theme-name-wrapper">
                <div class="theme-name">
                    <a href="#" class="normal">
                        <h2>Angular 10</h2>
                    </a>
                    <div class="columns">
                        <div>
                            <p>Date: <time>2020-10-10T12:08:28.451Z</time></p>
                            <div class="nick-name">
                                <p>Username: <span>David</span></p>
                            </div>
                        </div>
                        <div class="subscribers">
                            <p>Subscribers: <span>456</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="theme-container">
            <div class="theme-name-wrapper">
                <div class="theme-name">
                    <a href="#" class="normal">
                        <h2>JS Advanced course</h2>
                    </a>
                    <div class="columns">
                        <div>
                            <p>Date: <time>2020-04-10T15:08:28.431Z</time></p>
                            <div class="nick-name">
                                <p>Username: <span>Johny</span></p>
                            </div>
                        </div>
                        <div class="subscribers">
                            <p>Subscribers: <span>123</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="theme-container">
            <div class="theme-name-wrapper">
                <div class="theme-name">
                    <a href="#" class="normal">
                        <h2>React hooks - Pros and cons</h2>
                    </a>
                    <div class="columns">
                        <div>
                            <p>Date: <time>2019-12-12T22:16:27.351Z</time></p>
                            <div class="nick-name">
                                <p>Username: <span>Donald</span></p>
                            </div>
                        </div>
                        <div class="subscribers">
                            <p>Subscribers: <span>121</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="theme-container">
            <div class="theme-name-wrapper">
                <div class="theme-name">
                    <a href="#" class="normal">
                        <h2>Express JS - How to deploy in Heroku</h2>
                    </a>
                    <div class="columns">
                        <div>
                            <p>Date: <time>2020-10-06T19:18:28.433Z</time></p>
                            <div class="nick-name">
                                <p>Username: <span>Stephan</span></p>
                            </div>
                        </div>
                        <div class="subscribers">
                            <p>Subscribers: <span>65</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="theme-container">
            <div class="theme-name-wrapper">
                <div class="theme-name">
                    <a href="#" class="normal">
                        <h2>Java Advanced</h2>
                    </a>
                    <div class="columns">
                        <div>
                            <p>Date: <time>2020-08-10T11:48:45.411Z</time></p>
                            <div class="nick-name">
                                <p>Username: <span>Jane</span></p>
                            </div>
                        </div>
                        <div class="subscribers">
                            <p>Subscribers: <span>22</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        -->