<div class="wrapper">
    <form class="login">
      <p class="title">Регистрирай се</p>
      <input type="text" placeholder="Имеил" autofocus/>
      <i class="fa fa-user"></i>
      <input type="text" placeholder="Телефон" autofocus/>
      <i class="fa fa-phone"></i>
      <input type="password" placeholder="Парола" />
      <i class="fa fa-key"></i>
      <input type="password" placeholder="Повтори парола" />
      <i class="fa fa-key"></i>
      <a routerLink="/auth/login">Вече имате регистрация?</a>
      <button>
        <i class="spinner"></i>
        <span class="state">Влез</span>
      </button>
    </form>
    
  </div>