

<form action="#" method="POST" class="form">
    <h3 class="form-title">Добави обява</h3>
    <div class="grid-2">
        <div class="form-controll">
            <div class="form-input">
                <input type="text" name="first_name" id="first_name" required>
                <label for="first_name">Заглавие</label>
            </div>
        </div>
        <div class="form-controll">
            <div class="form-input">
                <input type="text" name="first_name" id="first_name" required>
                <label for="first_name">Категория</label>
            </div>
        </div>
        
    </div>
   
    
    <div class="form-controll">
        <div class="form-input"> 
            
             <input type="text" name="imageUrl" id="imageUrl" required>
            <label for="imageUrl">Описание</label>
        </div>
    </div> 
    <div class="form-controll">
        <div class="form-input"> 
            
             <input type="text" name="description" id="description" required>
            <label for="description">Снимка</label>
        </div>
    </div> 
    <!-- <textarea id="textArea" name="w3review" placeholder="Описание" rows="4" cols="50">
                
    </textarea> -->
    <div class="grid-2">
        <div class="form-controll">
            <div class="form-input">
                <input type="text" name="price" id="price" required>
                <label for="price">Цена</label>
                <!-- Password Show and Hide-->
                <div class="password-showHide">
                   
                </div>

            </div>
        </div>
        
        <div class="form-controll">
            <div class="form-input">
                <input type="password" name="location" id="location" required>
                <label for="location">Град</label>
                <!-- Password Show and Hide-->
                
            </div>
        </div>
    </div>
    <div class="form-submit">
        <button type="submit"><i class="fa-sharp fa-solid fa-plus"></i>Добави</button>
    </div>
</form>

