<app-spinner *ngIf="!adList"></app-spinner>
<ng-container *ngIf="adList">

    <h2 class="heroTitle">Последно добавени обяви</h2>

    <!-- <section id="articleSection">
        <ul class="articles"> -->
    <!-- <ng-container *ngFor="let ad of adList">
            <li>
                <article class="article">
                    <div class="articleImageWrapper">
                        <a routerLink="/details/{{ad._id}}">
                            <img class="articleImg"
                                src="{{ad.imageUrl}}"
                                alt="">
                        </a>
                    </div>
                    <h3 class="articleTitle">{{ad.title}}</h3>
                    <p class="articleDescription">{{ad.location}}</p>
                    <p class="articlePrice">{{ad.price}} лв</p>
                </article>
            </li>
        </ng-container> -->
    <app-ads-list [adList]="adList"></app-ads-list>
    <!-- </ul>
    </section> -->
    <!-- <mat-paginator [length]="100"  aria-label="Select page">
    </mat-paginator> -->
</ng-container>


<!-- <span class="articleItem">Category: {{ad.category}}</span> -->