<header class="header">
    <a href="/s">
        <img class="logo" src="../../../assets/images/olx-logo.png" alt="olx-logo">
    </a>

    <nav class="navigation">
        <ul>
            <li><a href=""><i class="fa-regular fa-comment">  </i>Съобщения</a></li>
            <li><a href=""> <i class="fa-regular fa-heart"></i></a> </li>
            <li> <a href=""> <i class="fa-regular fa-user"></i>Твоят профил</a></li>
            <button class="add">Добави обява</button>
        </ul>
    </nav>
</header>