<div class="wrapper">
  <form class="login" [formGroup]="loginFormGroup" (ngSubmit)="handleLogin()">
    <p class="title">Влез</p>
    <input formControlName="email" name="email" id="email" type="text" placeholder="Имеил" autofocus />
    <i class="fa fa-user"></i>
    <ng-container *ngIf="loginFormGroup.controls['email'].touched && loginFormGroup.controls['email'].invalid">
      <p *ngIf="!loginFormGroup.controls['email'].errors?.['required'] && loginFormGroup.controls['email'].errors?.['pattern']"
        class="error">
        Email is invalid!
      </p>
      <p *ngIf="loginFormGroup.controls['email'].errors?.['required']" class="error">
        Email is required!
      </p>
    </ng-container>

    <input formControlName="password" name="password" id="password" type="password" placeholder="Парола" />
    <i class="fa fa-key"></i>
    <!-- passwords -->

    <ng-container *ngIf="loginFormGroup.controls['password'].touched && loginFormGroup.controls['password'].invalid">
      <p *ngIf="loginFormGroup.controls['password'].errors?.['required']" class="error">
        Password is required!
      </p>
      <p *ngIf="loginFormGroup.controls['password'].errors?.['minlength']" class="error">
        Password must be at least 6 characters long!
      </p>
    </ng-container>
    <ng-container *ngIf="error">
      <p class="error">
        {{error}}
      </p>
    </ng-container>
    <a href="javascript:void(0)">Забравена парола?</a>
    <div>
      <a routerLink='/auth/register'>Нямаш регистрация?</a>
    </div>
    <button [disabled]="loginFormGroup.invalid">
      <i class="spinner"></i>
      <span class="state">Влез</span>
    </button>
  </form>

</div>