
<section id="articleSection">
    <ul class="articles">
        <ng-container >
        <li *ngFor="let ad of adList">
            <a routerLink="/details/{{ad._id}}">
            <article class="article">
                <div class="articleImageWrapper">
                        <img class="articleImg"
                            src="{{ad.imageUrl}}"
                            alt="">
                </div>
                <h3 class="articleTitle">{{ad.title}}</h3>
                <!-- <span class="articleItem">Category: {{ad.category}}</span> -->
                <p class="articleDescription">{{ad.location}}</p>
                <p class="articlePrice">{{ad.price}} лв</p>

            </article>
        </a>

        </li>
    </ng-container>
    </ul>
</section>

